<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            
            <form [formGroup]="passwordForm" (ngSubmit)="passwordForm.valid && register()" autocomplete="off">
                <h2 class="text-center">Change your password</h2>
                <hr>

                <app-text-input [formControl]='passwordForm.controls["currentPassword"]' [label]='"Current Password"'
                    [type]='"password"'></app-text-input>
                <app-text-input [formControl]='passwordForm.controls["newPassword"]' [label]='"New Password"'
                    [type]='"password"'></app-text-input>
                <app-text-input [formControl]='passwordForm.controls["confirmPassword"]' [label]='"Confirm Password"'
                    [type]='"password"'></app-text-input>

                <div class="row" *ngIf="validationErrors.length > 0">
                    <ul class="text-danger">
                        <li *ngFor="let error of validationErrors">
                            {{error}}
                        </li>
                    </ul>
                </div>

                <div class="form-group text-center">
                    <button [disabled]='!passwordForm.valid' class="btn btn-success mr-2"
                        type="submit">Change Password</button>
                    <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
                </div>
            </form>

            <div class="text-center" id="confirmation" [style.opacity]="completed ? 1 : 0">
                <p><i class="fa fa-check-circle"></i> Password Changed Successfully</p>
            </div>

        </div>
    </div>
</div>